.preview {
    position: relative;
}

.preview__close {
    top: 0;
    color: #ffffff;
    margin: 5px;
    cursor: pointer;
    position: absolute;
}

.preview__toolbarRight {
    right: 0;
    color: #ffffff;
    margin: 5px;
    display: flex;
    position: absolute;
    flex-direction: column;

    .svg_icons {
        cursor: pointer;
        font-size: 20px !important;
        margin-bottom: 8px;
    }
}

.preview__footer {
    right: -25px;
    color: #000000;
    bottom: 0;
    cursor: pointer;
    display: flex;
    padding: 7px;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: all .2s ease-out;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 30px;
    background-color: #ffff00;

    h2 {
        font-size: 8px;
        margin-right: 3px;
    }

    &:hover {
        background-color: #8d8d00;
    }
}

.preview__send {
    font-size: 10px !important;
    transform: translateY(.2px);
}